<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <!--icons font awsome-->
    <script src="https://use.fontawesome.com/8490d8a753.js"></script>

    <link rel="stylesheet" href="styles.css">
    <title>KBC</title>
    <script src="index.js"></script>
</head>

<body>
    <img src="images/download.jpg">
    <div class="lifeline">
        <button type="button" class="btn btn-dark btn-lg btn-circle" onclick="call()"><i class="fa fa-phone-square" aria-hidden="true"></i></button> 
        <button type="button" class="btn btn-dark btn-lg btn-circle" onclick="half()">50-50</button>
        <button type="button" class="btn btn-dark btn-lg btn-circle"><i class="fa fa-users" aria-hidden="true"></i></button>
        <button type="button" class="btn btn-dark btn-lg btn-circle"><i class="fa fa-exchange" aria-hidden="true"></i></button>
    </div>
    <div class="timer">
        <p>0</p>
    </div>
    <div class="levels">
        <ul style="padding: 25px">
            <li><button class="col-md btn-4 btn-dark"><h6>Level 10</h6></button></li>
            <li><button class="col-md btn-4 btn-dark"><h6>Level 9</h6></button></li>
            <li><button class="col-md btn-4 btn-dark"><h6>Level 8</h6></button></li>
            <li><button class="col-md btn-4 btn-dark"><h6>Level 7</h6></button></li>
            <li><button class="col-md btn-4 btn-dark"><h6>Level 6</h6></button></li>
            <li><button class="col-md btn-4 btn-dark"><h6>Level 5</h6></button></li>
            <li><button class="col-md btn-4 btn-dark"><h6>Level 4</h6></button></li>
            <li><button class="col-md btn-4 btn-dark"><h6>Level 3</h6></button></li>
            <li><button class="col-md btn-4 btn-dark"><h6>Level 2</h6></button></li>
            <li><button class="col-md btn-4 btn-dark"><h6>Level 1</h6></button></li>
        </ul>
    </div>
    <div class="question">
        <h2><%= que %></h2>
    </div>
    <div class="row">
        <button class="col-sm-6 upper btn left color a" ><h4>a] <%= a %></h4></button>
        <button class="col-sm-6 upper btn color b" ><h4>b] <%= b %></h4></button>
        <button class="col-sm-6 btn  left color c" ><h4>c] <%= c %></h4></button>
        <button class="col-sm-6 btn color d"><h4>d] <%= d %></h4></button>
    </div>
 <script>
     function call(){
        alert("According to Dr Khetmalis the correct answer would be <%= ans %>");
     }
     function half(){
        var ak= "hiiii";
        console.log(ak)
        if ("<%= ans %>" =='a')
        {
            $('.c').prop('disabled', true);
            $('.d').prop('disabled', true);
        }
        else if ("<%= ans %>"=='b')
        {
            $('.a').prop('disabled', true);
            $('.d').prop('disabled', true);
        }
        else if ("<%= ans %>"=='c')
        {
            $('.a').prop('disabled', true);
            $('.b').prop('disabled', true);
        }
        else if ("<%= ans %>"=='d')
        {
            $('.b').prop('disabled', true);
            $('.c').prop('disabled', true);
        }
     }
</script>
</body>

</html>